{% extends "layout.html" %}

{% block head %}{% endblock %}

{% block header %}
<div class="login">
	<span id="current"></span> |
	{% if user %}
	<span class="item nickname">{{ user.nickname }}</span> |
	<span class="item"><a href="{{ logout_url|escape }}">Sign out</a></span>
	{% else %}
	<span class="item"><a href="{{ login_url|escape }}">Sign in</a></span>
	{% endif %}
</div>
<h1><a href="/">Toonable Tasks</a></h1>
{% endblock %}

{% block content %}
<table>
	<tr>
		<td class="left">
			<ul>
				<li><a href="http://my.safaribooksonline.com">safari books</a></li>
				<li><a href="http://necronomicorp.com/l-space/">l-space</a></li>
				<li><a href="http://quickdraw.laits.utexas.edu/dase1">dase dev</a></li>
				<li><a href="https://liberalartsits.seework.com/clients">basecamp</a></li>
				<li><a href="http://nytimes.com">nytimes</a></li>
				<li><a href="http://reddit.com/r/programming">reddit</a></li>
				<li><a href="http://news.ycombinator.com">hacker news</a></li>
				<li><a href="http://del.icio.us/network/pkeane">del.icio.us network</a></li>
				<li><a href="http://twitter.com">twitters</a></li>
				<li><a href="https://utdirect.utexas.edu/pntime/">timesheets</a></li>
				<li><a href="http://atompub.org/rfc4287.html">Atom Syndication Format</a></li>
				<li><a href="http://bitworking.org/projects/atom/rfc5023.html">Atom Publishing Protocol</a></li>
				<li><a href="https://postgres.laits.utexas.edu/phppgadmin">pg</a></li>
			</ul>
		</td>
		<td class="center">
			<ul id="todos">
				{% for t in todos %}
				<li>
				<a href="todo/{{ t.key }}" class="{{ t.priority }}">{{ t.text }}</a> 
				<a href="todo/{{ t.key }}" class="delete">[X]</a>
				</li>
				{% endfor %}
			</ul>
		</td>
		<td class="right">
			<form action="todos" method="post">
				<fieldset>
					<legend>new to do</legend>
					<p>
					<input type="text" name="text" id="name">
					</p>
					<label for="asap">asap</label>
					<input type="radio" id="asap" name="priority" value="a1asap">
					<label for="soon">soon</label>
					<input type="radio" id="soon" name="priority" value="a2soon" checked>
					<label for="sometime">sometime</label>
					<input type="radio" id="sometime" name="priority" value="a3sometime">
					<p>
					<select name="project_name">
						<option value="">select a project</option>
						<option value="">one</option>
						<option value="">two</option>
						<option value="">three</option>
					</select>
					<select name="context_name">
						<option value="">select a context</option>
						<option value="">one</option>
						<option value="">two</option>
						<option value="">three</option>
					</select>
					</p>
					<p>
					<input type="submit" value="add todo">
					</p>
				</fieldset>
			</form>
			<form action="projects" method="post">
				<fieldset>
					<legend>new project</legend>
					<p>
					<input type="text" name="text" id="name">
					<input type="submit" value="add project">
					</p>
				</fieldset>
			</form>
			<form action="contexts" method="post">
				<fieldset>
					<legend>new context</legend>
					<p>
					<input type="text" name="text" id="name">
					<input type="submit" value="add context">
					</p>
				</fieldset>
			</form>
		</td>
	</tr>
	<tr>
		<td class="left">
		</td>
		<td class="center">
			<h3>{{ mail_feed.title }} {% if cache %}(cache){% endif %}</h3>
			<dl id="mail">
				{% for entry in mail_feed.entries %}
				<dt><a href="{{ entry.alt }}">{{ entry.title }}</a></dt>
				<dd>{{ entry.summary }}</dd>
				{% endfor %}
			</dl>
		</td>
		<td class="right">
		</td>
	</tr>
</table>
{% endblock %}
