body {
	/*
	background: url('../images/teacup.svg.png');
	*/
}

span#current {
	color: #666;
	font-weight: bold;
}

h1 {
	color: #fff;
}

h3 {
	color: #000;
}

h3.alert {
	color: red;
}

label {
	font-weight: bold;
	color: #fff;
}

input[type='text'] {
	margin-bottom: 10px;
}

#container {
	margin: 0px;
}

table {
	width: 100%;
	border-spacing: 1px;
}

table td {
	width: 30%;
	vertical-align: top;
	font-size: 1.2em;
	line-height: 1.3em;
}

#header .login {
	float: right;
	margin-right: 0px;
}

#header {
	font-family: verdana,sans-serif;
	padding: 4px 10px;
	background:#000; 
	background:#ddd; 
	color: #000;
	margin: 0px;
}

#header a {
	text-decoration: none;
	color: #000;
}

#header .content,#footer .content {
	margin:0 1em;
	margin-top:0;
	padding:0;
}

#header .content,#footer .content  h1 {
	margin:0 1em;
	margin-top:0;
	padding:0;
}

#header h1  a{
	font-size: 1.2em;
}

td.left {
	padding: 1em;
	margin-bottom: 2px; 
	width:25%
}

td.center {
	padding: 1em;
	margin-bottom: 2px; 
	width:50%
}

td.right {
	padding: 1em;
	margin-bottom: 2px; 
	width:25%
}

#tertiary .content {
	margin:1em
}

form p {
	margin: 10px 0px;
}

form fieldset {
 padding: 3px 12px;	
 margin-bottom: 10px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	margin: 0;
	list-style: none;
}

dt a {
	text-decoration: none;
	font-weight: bold;
}

dd {
	color: #666;
	padding-left: 10px;
}

li a {
	text-decoration: none;
	font-weight: bold;
}

li a.delete {
	color: #c00;
	font-size: 7px;
}

li a.a1asap {
	color: #000;
}
li a.a2soon {
	color: #666;
}
li a.a3sometime {
	color: #999;
}
